<h2>Add Product | Reactive forms</h2>
<form  [formGroup]="productForm" (ngSubmit)="handleSubmitForm()">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      formControlName="name"
    
    />

    @if(productForm.controls['name'].invalid && productForm.controls['name'].dirty || productForm.controls['name'].touched){
    <div class="text-danger">
      @if(productForm.controls['name'].hasError('required')) {
      <span> Name Required</span>
      }@else if (productForm.controls['name'].hasError('minlength')) {
      <span> Name should be atleast 3 characters</span>
      }@else if (productForm.controls['name'].hasError('maxlength')) {
      <span> Name should be atmost 100 characters</span>
      }
    </div>
    }
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input
      type="text"
      class="form-control"
      id="title"
      name="title"
      formControlName="title"

    />
    @if(formControls['title'].invalid && (formControls['title'].dirty || formControls['title'].touched)){
        <div class="text-danger">
          @if(formControls['title'].hasError('required')) {
          <span> title Required</span>
          }@else if (formControls['title'].hasError('minlength')) {
          <span> title should be atleast 3 characters</span>
          }@else if (formControls['title'].hasError('maxlength')) {
          <span> title should be atmost 200 characters</span>
          
        }
        </div>
    }
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input
      type="number"
      class="form-control"
      id="price"
      name="price"
      formControlName="price"
    />
    @if (formControls['price'].invalid && (formControls['price'].dirty || formControls['price'].touched)) {
        <div class="text-danger">
          @if (formControls['price'].hasError('required')) {
            <span>Price is required</span>
          } @else if (formControls['price'].hasError('min')) {
            <span>Price should be at least 1000</span>
          } @else if (formControls['price'].hasError('max')) {
            <span>Price should be at most 20000</span>
          }
        </div>
      }
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea
      class="form-control"
      id="description"
      name="description"
    
      formControlName="description"
    ></textarea>
    @if(formControls['description'].invalid && (formControls['description'].dirty || formControls['description'].touched)){
        <div class="text-danger">
          @if(formControls['description'].hasError('required')) {
          <span> Description Required</span>
          }@else if (formControls['description'].hasError('minlength')) {
          <span> Description should be atleast 10 characters</span>
          }@else if (formControls['description'].hasError('maxlength')) {
          <span> Description should be atmost 200 characters</span>
          }
        </div>
    }
  </div>
  <div class="form-group">
    <label for="category">Category</label>
    <select
      class="form-control"
      id="category"
      name="category"
     
    
    >
      <option value="Electronics">Electronics</option>
      <option value="Clothing">Clothing</option>
      <option value="Home">Home</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<!-- 
1-import ReactiveFormsModule from @angular/forms
2- ProductForm: FormGroup
3- initialize the formGroup in the constructor
ctor(){
  this.productForm = new FormGroup({
    name: new FormControl('', [Validators.required, Validators.minLength(3), Validators.maxLength(10)]),
    title: new FormControl('', [Validators.required, Validators.minLength(3), Validators.maxLength(20)]),
    price: new FormControl('', [Validators.required, Validators.min(1000), Validators.max(20000)]),
    description: new FormControl('', [Validators.required, Validators.minLength(10), Validators.maxLength(200)]),
    category: new FormControl('Electronics')
  });
}
4- in file HTML using Binding [FormGroup]="productForm"  (ngSubmit)="handleSubmitForm()"
5- in file HTML using Binding formControlName="name" formControlName="title" formControlName="price" formControlName="description"

-->
