<!--Parent Component-->
<div class="row row-cols-1 row-cols-md-3 g-4">
  @for (product of products; track product.id) 
  {
    <div class="col-md-4 mb-4">
     <app-product-card [productitem]="product" (sendToParent)="receivedFormChild($event)"></app-product-card>  <!--Child component-->
    </div>  
    <!-- <div class="col">
        <div class="card">
          <img [src]="product.images" class="card-img-top" [alt]="product.title" />
          <div class="card-body">
            <h5 class="card-title">{{product.title}}</h5>
            <p class="card-text">
             {{product.description}}
            </p>
             <div>
            <ul>
              @for (review of product.reviews; track $index) {
                <li>{{review.comment}}</li>
                <li>{{review.date | date:'short'}}</li>

              }
            </ul>
          </div>
          </div>
        </div>

      </div> -->
    }
</div>
